.advantages__item--background {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__text--colored {
  color: #ffffff;
}

.advantages__item--background-dark {
  background-color: #eeeeee;
}
