.hero-index {
  min-height: 389px;
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-index__slogan {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
}

.hero-index__slogan img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .hero-index {
    width: @tablet-width;
    min-height: 518px;
  }

  .hero-index__slogan {
    width: 461px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .hero-index {
    width: @desktop-width;
  }
}
