// index start

.hero__wrapper {
  min-height: 389px;
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slogan {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
}

.hero__slogan img {
  display: block;
  width: 100%;
  height: 100%;
}

// index over

// catalog start

.hero-catalog__wrapper {
  min-height: 159px;
  background-image: url("../img/rest-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-catalog__slogan {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto;
}

.hero-catalog__slogan img {
  display: block;
  width: 100%;
  height: 100%;
}

// catalog over

// form start

.hero-form__wrapper {
  min-height: 159px;
  background-image: url("../img/rest-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-form__slogan {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto;
}

.hero-form__slogan img {
  display: block;
  width: 100%;
  height: 100%;
}

// form over

@media (min-width: @tablet-width) {

  // index start

  .hero__wrapper {
    width: @tablet-width;
    min-height: 518px;
  }

  .hero__slogan {
    width: 461px;
    height: 350px;
  }

  // index over

  // catalog start

  .hero-catalog__wrapper {
    width: @tablet-width;
    min-height: 287px;
  }

  .hero-catalog__slogan {
    width: 457px;
    height: 78px;
  }

  // catalog over

  // form start

  .hero-form__wrapper {
    width: @tablet-width;
    min-height: 287px;
  }

  .hero-form__slogan {
    width: 457px;
    height: 78px;
  }

  // form over
}

@media (min-width: @desktop-width) {

  // index start

  .hero__wrapper {
    width: @desktop-width;
  }

  // index over

  // catalog start

  .hero-catalog__wrapper {
    width: @desktop-width;
  }

  // catalog over

  // form start

  .hero-form__wrapper {
    width: @desktop-width;
  }

  // form over
}
